.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 600px;
  padding: 20px;
  color: white;
}

.Navbar {
  text-align: left;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Search-Container {
  max-width: 300px;
  margin: 0 auto;
}
